$green: #52c41a;
$light-blue: #8191a7;
$blue: #4392ce;
$dark-blue: #025ea1;
$yellow: #f0a600;
$orange: #ff4a05;
$dark-gray: #5f6062;
$gray: #a7a7a7;
$light-gray: #e7eaed;
$white: #ffffff;
$black: #333333;
$red: #ff1837;
$purple: #ac97cd;
